h5py
ipympl
ipywidgets
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
librosa
Ninja
numpy
pandas
pesq
Pillow
protobuf
pyroomacoustics
pystoi
pytorch-lightning
scipy
sdeint
setuptools
seaborn
torch
torch-ema
torchaudio
torchvision
torchinfo
torchsde
tqdm
wandb